@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
:root{
  --color-de-letra:rgb(255, 255, 255);
}
body{
  font-family: 'Press Start 2P', cursive;
  background-image:url(../IMG/fondo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}
/*Bunny styles*/
#container{
  width: 100%;
  height: 300px;
  position: relative;
  top:54%;
  z-index: -10;
}
#box{
  width: 190px;
  height: 300px;
  position: absolute;
}
.bunny-start{
  width: 100%;
  height: 100%;
}
/*Bunny styles dead*/
.blood{
  transform: translateY(30%);
  width: 100%;
  height: 70%;
  z-index: 1;
  background-image: url(../IMG/explotion.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -10;
}
/*Div container btn-Kill & gun*/
.kill{
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 3%;
  z-index: 0;
}
/*Kill button*/
.btnKill {  
  align-self: flex-end;
  background: #57268B;
  border: 3px solid #FFFFFF;
  box-shadow: inset 0px 12px 12px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #FFFFFF;
  width: 20%;
  height: 10%;
  min-height: 50px;
  transform: translateY(-60%);
  transition: ease-in-out .2s;
}
.btnKill:hover{
  background: #7600f4;
  cursor: pointer;
}
.btnKill P{
  font-family: 'Press Start 2P', cursive;
  font-size: clamp(1rem,3vw,1.7rem);
  font-weight: 500;
/*   -webkit-text-stroke:1px black; */
}

.cont-reset{
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 83%;
  left: 3%;
  z-index: 1;
  height: 100px;
}
/* Restart button */
.btnRestart {  
  align-content: center;
  background: #57268B;
  border: 3px solid #FFFFFF;
  box-shadow: inset 0px 12px 12px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #FFFFFF;
  position: relative;
  top: 50%;
  width: 25%;
  height: 10%;
  min-height: 50px;
  transform: translateY(-60%);
  transition: ease-in-out .2s;
}
.btnRestart:hover{
  background: #7600f4;
  cursor: pointer;
}
.btnRestart p{
  font-family: 'Press Start 2P', cursive;
  font-size: clamp(1rem,3vw,1,7rem);
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
/*   -webkit-text-stroke:1px black; */
}

/*Guns*/
.gun{
  width: 60%;
}
.gun img{
  width: 100%;
}

/*----------------------------------Modales---------------*/
/*contenedor de la caja game over*/
.capa2{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display:none;
    justify-content: center;
}
/*contenedor de la caja que el usuario a muerto*/
.capa{
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  justify-content: center;
  
}   
/*Diseños de modales*/
.modal, .modal-2{
  display:block;
  background-color: #57268B;
  border-radius: 20px;
  border: 1px solid;
  padding-top: 30px;
  width:300px;
  height: 350px;
  margin: auto;
  box-sizing: border-box;
  
}
.modal-fondo, .modal-fondo-2{
  background-color:#28123F;
  border-radius: 20px;
  border: 1px solid #000;
  margin: auto;
  width: 250px;
  height: 200px;
  
}
.modal-fondo p{
  text-align: center;
  color: var(--color-de-letra);
  margin-top: 40px;
  font-size: 20px;
}
.modal .boton, .modal-2 .boton{
  border: 3px solid #fff;
  border-radius: 10px;
  margin-top: 20px;
}
.modal-fondo-2 p{
  text-align: center;
  color: var(--color-de-letra);
  margin-top: 60px;
  font-size: 20px;
}
.modal-fondo-2 a{
  color: rgb(255, 17, 0);
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.btn,
.btn-ctn, .boton{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 1.5vmin;
}
.btn-ctn,  .boton{
  background-color: #57268B;
  height: 8vh;
  width: 58vw;
  height: clamp(10px,30vmin,50px);
  width: clamp(180px,35vmin,400px);
  border: 0.1vmin solid #000000;
  box-shadow: inset 0px 12px 12px rgba(0, 0, 0, 0.25);
  transition: ease-in-out .2s;
}
.modal-2 a, .modal a{
  text-decoration: none;
}
/*------------------MEDIA QUERIES------------------*/
@media (min-width: 568px){
  /*medidas del modal para escritorio y tablet*/
  .modal, .modal-2{
      width:650px;
      height:350px;
  }
  .modal-fondo, .modal-fondo-2{
      width: 550px;
      height: 200px;
  }
  }
@media (max-width: 1024px){
  /*Bunny styles*/
  #container{
    height: 230px;
    top:50%;
  }
  #box{
    width: 130px;
    height: 230px;
    position: absolute;
  }
}
@media (max-width: 425px){
  /*Bunny styles*/
  #container{
    height: 200px;
    top:58%;
  }
  #box{
    width: 100px;
    height: 170px;
    position: absolute;
  }
}
@media (min-width: 1440px){
  /*Bunny styles*/
  #container{
    top:45%;
  }
}
@media (max-height: 570px) and (max-width: 320px) and (orientation:portrait) {     

}