*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Alatsi', sans-serif;
    background-color: black;
}

/* ------- Estilos pagina 1 ------- */

a {
    text-decoration:none;
}

.btn,
.btn-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vmin;
    
}

.btn {
    background-color: #D9D9D9;
    height: 15vh;
    width: 50vh;
}

.btn-ctn {
    background-color: #57268B;
    height: 13vh;
    width: 48vh;
    color: white;
    
}



/* ------- Estilos pagina 2 ------- */

/* ------- Estilos pagina 3 ------- */