*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Press Start 2P', cursive;
}

/* ------- Estilos pagina 1 ------- */

/* ------- Estilos pagina 2 ------- */

/* ------- Estilos pagina 3 ------- */